body {
	  min-width: 100vw;
    min-height: 100vh;
    background-color: $lighter-orange;
    z-index: 0;
    overflow-x: hidden;
    &:before {
        content: '';
        display: block;
        width: 120vw;
        height: 70vh;
        transform: rotate(-4deg);
        position: absolute;
        top: -20vh;
        right: -10vw;
        background-color: $darker-orange;
    }
}

.app {
  width: 90vw;
  min-height: 90vh;
  z-index: 5;
  position: absolute;
  top: 5vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

