@mixin half-width {
    width: 50%;
    padding: 5%;
    box-sizing: border-box;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &-img {
        @include half-width;
        max-width: 75vh;
        min-width: 300px;
    }
    &-tagline {
        @include half-width;
        font-size: 3rem;
        font-family: $main-sans;
        font-weight: 200;
        color: $white;
    }
}