.navbar {
  width: 100%;
  font-family: $main-sans;
  color: $white;
  font-size: 14px;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    li {
      width: 150px;
      text-align: center;
      position: relative;
      font-weight: 300;
      a {
        text-decoration: none;
        color: $white;
        opacity: .9;
        &.active {
          font-weight: 400;
          opacity: 1;
          &:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 30px;
            margin: 0 auto;
            z-index: 15;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid $white;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// @media screen and (min-width: 640px) {
//   li {
//       order: 1;
//   }
// }

.logo-img {
  height: 70px;
  display: block;
  margin: 0 auto;
  opacity: .8;
}