.organization {
    color: $grey;
    .title {
        font-size: 2em;
        font-weight: 300;
        padding-right: 15%;
        margin-bottom: 2em;
    }
    p {
        padding-left: 45%;
        font-family: $main-serif;
        font-size: .9em;
        font-weight: 300;
        line-height: 1.6em;
        margin: 2em 0;
    }
}